# Ignore pycharm files
.idea/

# Ignore database file
db.sqlite3

# Ignore coverage reports
htmlcov/
.coverage
coverage.xml

# Ignore bower files
components

# Ignore vagrant files
.vagrant

# Ignore ansible files
provision/.vault_pass.txt
provision/*.retry

# Ignore log
tictactoe.log