{% extends 'base.html' %}

{% load static %}

{% block css %}
    {{ block.super }}

    <!-- board.css -->
    <link href="{% static 'css/board.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                    <div id="board" class="board">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-0-0" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-0-1" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-0-2" class="field empty"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-1-0" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-1-1" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-1-2" class="field empty"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-2-0" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-2-1" class="field empty"></div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div id="field-2-2" class="field empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block javascript %}
    {{ block.super }}

    <!-- TicTacToe JavaScript -->
    <script src="{% static 'js/tictactoe.js' %}"></script>
{% endblock javascript %}