{% extends 'base.html' %}

{% load static %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div id="player-1-info" class="col-md-3 player-info player-info-left {% if game.next_player == 'p1' %}player-info-active{% endif %}">

                    <i class="fa {% if game.player1.is_player_ai %}fa-laptop{% else %}fa-user{% endif %} fa-5x"></i>
                    <h1><i class="fa fa-times"></i> <small>Player 1</small></h1>
                    <h2 class="h2-player-username">{{ game.player1.username }}</h2>

                    <h4 class="h4-your-turn {% if game.next_player == 'p2' %}h4-your-turn-hidden{% endif %}"><label class="label label-default label-your-turn label-2x">Your turn</label></h4>

                    <h3>{{ stats.1.win }} <small>Win</small></h3>
                    <h3>{{ stats.1.lose }} <small>Lose</small></h3>
                    <h3>{{ stats.1.draw }} <small>Draw</small></h3>
                </div>
                <div class="col-md-6">
                    <div id="board" class="board">
                        {% for row in board %}
                            <div class="row">
                                {% for field in row %}
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div id="field-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" class="field field-{{ field }}">
                                            {% if field == 'circle' %}<div class="circle"></div>{% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div id="player-2-info" class="col-md-3 player-info player-info-right {% if game.next_player == 'p2' %}player-info-active{% endif %}">

                    <i class="fa {% if game.player2.is_player_ai %}fa-laptop{% else %}fa-user{% endif %} fa-5x"></i>
                    <h1><i class="fa fa-circle-o"></i> <small>Player 2</small></h1>
                    <h2 class="h2-player-username">{{ game.player2.username }}</h2>

                    <h4 class="h4-your-turn {% if game.next_player == 'p1' %}h4-your-turn-hidden{% endif %}"><label class="label label-default label-your-turn label-2x">Your turn</label></h4>

                    <h3>{{ stats.2.win }} <small>Win</small></h3>
                    <h3>{{ stats.2.lose }} <small>Lose</small></h3>
                    <h3>{{ stats.2.draw }} <small>Draw</small></h3>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block modal-windows %}
    {{ modal-windows.super }}

    <div class="portfolio-modal modal fade" id="game-ended-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2></h2>

                            <h3>
                                <span class="player-1-result">{{ game.player1.username }}</span> vs.
                                <span class="player-2-result">{{ game.player2.username }}</span>
                            </h3>

                            <hr class="star-primary">

                            {% if online_game == 'true' %}
                                <a href="{% url 'home' %}" class="btn btn-success btn-lg">
                                    <i class="fa fa-plus"></i> New Game
                                </a>
                            {% else %}
                                <a href="{% url 'rematch' game.id %}" class="btn btn-success btn-lg">
                                    <i class="fa fa-refresh"></i> Rematch
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="new-online-game-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>Send this link to your friend</h3>
                            <p>{{ online_game_opponent_url }}</p>
                            <br><br>
                            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal-windows %}

{% block javascript %}
    {{ block.super }}

    <!-- Generate CSRF Token -->
    <script src="{% static 'js/csrfToken.js' %}"></script>

    <!-- TicTacToe JavaScript -->
    <script src="{% static 'js/tictactoe.js' %}"></script>

    <!-- Open modal windows for online game -->
    {% if show_online_modal_window %}
        <script>
            $(document).ready(function () {
                $("#new-online-game-modal").modal();
            });
        </script>
    {% endif %}

    <!-- Start a new TicTacToe game -->
    <script>
        $(document).ready(function () {
            new TicTacToeGame(
                    $("#board"),
                    "{{ game.next_player }}",
                    "{% url 'new_move' game.id %}",
                    "{% url 'ai_next_move' game.id %}",
                    "{{ game.get_ai_player }}",
                    "{{ online_game }}",
                    "{% url 'opponent_move' game.id %}",
                    "{{ player }}",
                    "{{ game.get_next_move_sequence_number }}"
            );
        });
    </script>
{% endblock javascript %}