{% extends 'base.html' %}

{% load static %}

{% block css %}
    {{ block.super }}

    <!-- board.css -->
    <link href="{% static 'css/board.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div id="player-1-info" class="col-md-3 player-info player-info-left {% if game.next_player == 'p1' %}player-info-active{% endif %}">
                    <h1><i class="fa fa-times"></i> <small>Player 1</small></h1>
                    <h2>{{ game.player1.username }}</h2>

                    <br><br>

                    <h3>{{ stats.1.win }} <small>Win</small></h3>
                    <h3>{{ stats.1.lose }} <small>Lose</small></h3>
                    <h3>{{ stats.1.draw }} <small>Draw</small></h3>
                </div>
                <div class="col-md-6">
                    <div id="board" class="board">
                        {% for row in board %}
                            <div class="row">
                                {% for field in row %}
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div id="field-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" class="field field-{{ field }}">
                                            {% if field == 'circle' %}<div class="circle"></div>{% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div id="player-2-info" class="col-md-3 player-info player-info-right {% if game.next_player == 'p2' %}player-info-active{% endif %}">
                    <h1><small>Player 2</small> <i class="fa fa-circle-o"></i></h1>
                    <h2>{{ game.player2.username }}</h2>

                    <br><br>

                    <h3><small>Win</small> {{ stats.2.win }}</h3>
                    <h3><small>Lose</small> {{ stats.2.lose }}</h3>
                    <h3><small>Draw</small> {{ stats.2.draw }}</h3>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block modal-windows %}
    <div class="portfolio-modal modal fade" id="game-ended-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Player 1 wins!</h2>
                            <hr class="star-primary">
                            <a href="{% url 'rematch' game.id %}" class="btn btn-default btn-lg">Rematch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal-windows %}

{% block javascript %}
    {{ block.super }}

    <!-- Generate CSRF Token -->
    <script src="{% static 'js/csrfToken.js' %}"></script>

    <!-- TicTacToe JavaScript -->
    <script src="{% static 'js/tictactoe.js' %}"></script>

    <!-- Start a new TicTacToe game -->
    <script>
        $(document).ready(function () {
            new TicTacToeGame($("#board"), "{{ game.next_player }}", "{% url 'new_move' game.id %}",
                    "{% url 'ai_next_move' game.id %}", "{{ ai_player }}");
        });
    </script>
{% endblock javascript %}