{% extends 'base.html' %}

{% load static %}

{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">
                            <img class="img-responsive" src="{% static 'img/tic-tac-toe-icon.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="intro-text">
                            <span class="name">Start Tic Tac Toe Game</span>
                           <hr class="star-light">
                        </div>
                    </div>

                    <div class="row">
                        <a href="{% url 'new_game' 'anonymous' 'anonymous' %}" class="btn btn-lg btn-outline">
                            <i class="fa fa-user"></i> Player vs. Player <i class="fa fa-user"></i>
                        </a>
                        <br>
                        <a href="{% url 'new_game' 'anonymous' 'ai_min_max' %}" class="btn btn-lg btn-outline">
                            <i class="fa fa-user"></i> Player vs. Perfect AI <i class="fa fa-laptop"></i>
                        </a>
                        <br>
                        <a href="{% url 'new_game' 'anonymous' 'ai_random' %}" class="btn btn-lg btn-outline">
                            <i class="fa fa-user"></i> Player vs. Computer <i class="fa fa-laptop"></i>
                        </a>
                        <br>
                        <a href="{% url 'new_online_game' 'anonymous' 'anonymous' %}" class="btn btn-lg btn-outline">
                            <i class="fa fa-user"></i> Player vs. Online Player <i class="fa fa-globe"> <label class="label label-danger">beta</label></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}